@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v13/HI_SiYsKILxRpg3hIP6sJ7fM7PqlPevWnsUnxg.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/prata/v13/6xKhdSpbNNCT-sWPCm7bLnwI.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

body {
  font-family: "Source Code Pro";
  background-color: rgba(218, 247, 166, 0.4);
}

.logo img {
  height: 80px;
  padding: 10px 15px;
}

.container {
  width: 960px;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* border: 1px solid black; */
  margin: 0 auto;
}

.container img {
  height: 300px;
  width: 300px;
  margin: 10px;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* margin: 15px; */
  height: 100px;
  background-color: rgba(14, 42, 52, 0.9);
  font-family: "Prata";
}

nav ul li {
  display: inline-block;
  margin: 15px;
  font-size: 1rem;
}

a {
  color: aliceblue;
  text-decoration: none;
}

a:hover {
  color: saddlebrown;
}

a:active {
  color: yellow;
}

.banner {
  background-image: url("https://www.travolution.com/images/cms/original/9/8/b/0/3/easid-115328-media-id-7450.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  margin: 0 auto;
  text-align: center;
  /* padding-top: 50px; */
  /* margin-top: 15px; */
  margin-bottom: 15px;
}
.banner p {
  /* margin: 50px auto; */
  padding-top: 100px;
  font-size: 2rem;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  background-color: #b5c0c6;
  padding: 25px 30px;
}

footer .copyright {
  align-self: flex-end;
  /* margin: 0; */
  padding-bottom: 12px;
}
